@model IEnumerable<ProjName.DATA.EF.Models.BakeryProduct>

@{
    ViewData["Title"] = "Index";
}


<!-- Menu Section -->
<div id="menu-section" class="menu-section container-fluid">
	<div class="section-padding"></div>
	<div class="container">
		<div class="section-header">
			<h3>Our Menu</h3>
			<img src="~/images/section-seprator.png" alt="section-seprator" width="169" height="15">
			<p>Taking home a cheesecake for that family holiday dinner is something that will be discussed for years. Start your new family tradition today!</p>
		</div><!-- Section Header /-  -->
	</div><!-- Container /- -->


	@foreach (var item in Model)
	{

	<div class="col-md-6 col-sm-6 col-xs-6">
		<div class="menu-box">
			<img src="~/images/@item.ProductImage" alt="menu" />
			<h3>@item.BakeryItems <span>$@Html.DisplayFor(ModelItem => item.Price)</span></h3>
			<p>Qty:@item.QuantityPerUnit</p>
			<a asp-action="addToCart" asp-route-id="@item.ProductId" asp-controller="ShoppingCart" title="Order Now">Order Now</a>
		</div>

	</div>
	}

<div class="section-padding"></div>
