
@{
    ViewData["Title"] = "About Us";
}



	<main class="site-main page-spacing">
		<!-- Page Banner -->
		<div class="page-banner container-fluid no-padding">
			<div class="page-banner-content">
				<h3>About Us</h3>
				
			</div>
		</div><!-- Page Banner /- -->
		
		<!-- Welcome Section 1 -->
		<div class="welcome-section-1 container-fluid no-padding">
			<div class="section-padding"></div>
			<div class="container">
				<div class="section-header">	
					<h3>Welcome To Our Bakery</h3>
					<h5>Our Story</h5>
					<img src="~/images/section-seprator.png" alt="section-seprator" width="169" height="15">
					<p>
						<b>It all started in 1998 in a little kitchen in Rialto, CA. Donnie would bake amazing cheesecakes for family holiday dinners and it was a dessert that 
						was never to be forgotten. It was an essential food item for all our family gatherings. His daughter, Brittany, at the age of 8 would help any way she 
						could, whether it was crushing the graham crackers or cracking the eggs into the mixing bowl. It became a family tradition for many years. Donnie always
						joked that he would have a bakery of his own one day and call it Donnie Crocker's. He passed away in June of 2010, but his daughter kept the family 
						tradition alive and continued on with the famous Donnie Classic Cheesecake! Now here it is! Donnie Crockers Bakery with the famous Donnie's Classic 
						Cheesecake and so many more delicious treats to add along with it!</b>
					<div class="section-padding"></div>
					<img src="~/images/DadAndMe.jpg" alt="welcome" width="754" height="502" />
					</p>
				</div><!-- Section Header /-  -->
				
				</div><!-- Container /- -->
			@*<div class="section-padding"></div>*@
		</div><!-- Welcome Section 1 /- -->
		
		
		<!-- Newsletter Box -->
		<div class="subscribe-section container-fluid" id="subscribe-section">
			<!-- Container -->
			<div class="container">				
				<h4 class="subscribe-title col-md-5 col-sm-4 col-xs-12">subscribe to our newsletter</h4>
				<form class="col-md-7 col-sm-8 col-xs-12">
					<div class="col-md-9 col-sm-8 col-xs-8"><input type="text" placeholder="Your Email Here" name="email"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
					<div class="col-md-3 col-sm-4 col-xs-4 no-left-padding"><input type="submit" value="subscribe" class="btn-default"></div>
				</form>
			</div><!-- Container /- -->
		</div><!-- Newsletter Box /- -->
	</main>