
@{
    ViewData["Title"] = "Events";
}

	<main class="site-main page-spacing">
		<!-- Page Banner -->
		<div class="page-banner container-fluid no-padding">
			<div class="page-banner-content">
				<h3>Events</h3>
			</div>
		</div><!-- Page Banner /- -->
		
		<!-- Blog Section -->
		<div class="latest-blog blog-section container-fluid no-padding">
			<div class="section-padding"></div>
			<!-- Container -->
			<div class="container">
				<div class="row">
					<!-- Content Area -->
					<div class="content-area col-md-9 col-sm-7 col-xs-12">
						<article class="type-post col-md-12 col-sm-12 col-xs-12 no-padding">
							<div class="entry-cover">
								<a asp-action="Events" title="Recent Events">
								<img src="~/images/FestivalImage.png" alt="blog" width="870" height="330">
								</a>
							</div>
							<div class="post-content">
								<div class="latest-blog-content">
									<div class="post-date"><span>25</span><span>Jan</span></div>
									<h3 class="entry-title"><a asp-action="Events" title="Eli's Cheesecake Festival'"> eli's cheesecake festival'</a></h3>
									<div class="entry-meta">
										<a title="Likes" href="#"><i class="fa fa-heart-o"></i>90 Likes</a>
										<a title="Comments" href="#"><i class="fa fa-commenting-o"></i>30 Comments</a>
										<a title="Admin" href="#">Admin</a>
									</div>
								</div>
								<div class="recent-content">
									<div class="entry-content">
										<p>Hey guys! Come check us out at El's Cheesecake Festival! There will be a ton of vendors, business's and of course LOTS of cheesecake to go around! Come stop by our booth! </p>
									</div>
								</div>
							</div>
						</article>
						
					</div>
					
					<div class="col-md-3 col-sm-4 col-xs-12 widget-area">
						<!-- Widget Search -->
						<aside class="widget widget-search">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search...">
								<span class="input-group-btn">
									<button class="btn btn-search" title="Search" type="button"><i class="fa fa-search"></i></button>
								</span>
							</div>
						</aside><!-- Widget Search /- -->
	
	
						
						<aside class="widget widget-reviews">
							<h3 class="widget-title" >Customer Reviews</h3>
							<div data-ride="carousel" class="carousel slide" id="widget-control">
								<div role="listbox" class="carousel-inner">
									<div class="item active">
										<i class="fa fa-quote-left" aria-hidden="true"></i>
										<p>We always make sure to order a cheesecake from Donnie Crockers EVERY Thanksgiving. It's the best cheesecake I've ever had!'</p>
										<h3>BLAKE JOHNSON</h3>
									</div>
									<div class="item">
										<i class="fa fa-quote-left" aria-hidden="true"></i>
										<p>There cones are something I've never seen before! The filling is so creamy and the toppings are to DIE for! Highly recommend stopping in and grabbing one on the go.'</p>
										<h3>TRISHA lANGSHIRE</h3>
									</div>
								<div class="item">
									<i class="fa fa-quote-left" aria-hidden="true"></i>
									<p>We love coming in to curve our sweet tooth! Never disappoints, its hard to have a regular bought item when they are all SOOOO GOOD!</p>
									<h3>CONNER CHILCOT</h3>
								</div>
								</div>
								<a data-slide="prev" role="button" href="#widget-control" class="left carousel-control">
									<i class="fa fa-angle-left"></i>
								</a>
								<a data-slide="next" role="button" href="#widget-control" class="right carousel-control">
									<i class="fa fa-angle-right"></i>
								</a>
							</div>
						</aside>
						

					</div>
				</div>
			</div><!-- Container /- -->
			<div class="section-padding"></div>
		</div><!-- Blog Section /- -->
		
		
		<!-- Newsletter Box -->
		<div class="subscribe-section container-fluid" id="subscribe-section">
			<!-- Container -->
			<div class="container">				
				<h4 class="subscribe-title col-md-5 col-sm-4 col-xs-12">subscribe to our newsletter</h4>
				<form class="col-md-7 col-sm-8 col-xs-12">
					<div class="col-md-9 col-sm-8 col-xs-8"><input type="text" placeholder="Your Email Here" name="email"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
					<div class="col-md-3 col-sm-4 col-xs-4 no-left-padding"><input type="submit" value="subscribe" class="btn-default"></div>
				</form>
			</div><!-- Container /- -->
		</div><!-- Newsletter Box /- -->

		
	</main>