@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

	<!---------------------------------------- Start Main ------------------------------------------------------->
	<main class="site-main page-spacing">
		<!-- Photo Slider -->
		<div class="photo-slider container-fluid no-padding">
			<!-- Main Carousel -->
			<div id="main-carousel" class="carousel slide carousel-fade" data-ride="carousel">
				<div role="listbox" class="carousel-inner">
					<div class="item active">
						<img width="1920" height="730" alt="slider" src="~/images/image154.png">
						<div class="carousel-caption">
							<img data-animation="animated pulse" src="~/images/CheesecakeIsLifeIcon.png" alt="slider-ic" width="300" height="139">
							<p data-animation="animated bounceInLeft">Cheesecake is a </p>
							<p data-animation="animated bounceInRight">way of Life</p>
							
						</div>
					</div>
					
					<div class="item">
						<img width="1920" height="730" alt="slider" src="~/images/SmoresCheesecakeBars.jpeg">
						<div class="carousel-caption">
						<img data-animation="animated pulse" src="~/images/CheesecakeIsLifeIcon.png" alt="slider-ic" width="300" height="139">
							<p data-animation="animated bounceInLeft">Cheesecake is a </p>
							<p data-animation="animated bounceInRight">way of Life</p>
							
						</div>
					</div>
					
					<div class="item">
						<img width="1920" height="730" alt="slider" src="~/images/PineappleUpsideDownCone.jpg">
						<div class="carousel-caption">
						<img data-animation="animated pulse" src="~/images/CheesecakeIsLifeIcon.png" alt="slider-ic" width="300" height="139">
							<p data-animation="animated bounceInLeft">Cheesecake is a </p>
							<p data-animation="animated bounceInRight">way of Life</p>
						</div>
					</div>
					<a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
						<i class="fa fa-caret-left" aria-hidden="true"></i>
					</a>
					<a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
						<i class="fa fa-caret-right" aria-hidden="true"></i>
					</a>
				</div>
			</div><!-- Main Carousel /-  -->
		</div><!-- Photo Slider /- -->
		

	
		
		
		<main class="site-main page-spacing">
			
		<!-- Page Banner -->
		<div>
			<div class="page-banner-content">
				<h3 class="text-center">Our Delicious Sweets!</h3>
			</div>
		</div><!-- Page Banner /- -->
		

		<!-- Gallery column 4 -->
		<div class="gallery-section gallery-column-3 gallery-column-4 container-fluid no-padding">
			<@*div class="section-padding"></div>*@
			<!-- Container -->
			<div class="container">
				<ul class="portfolio-list no-left-padding">
					<li class="col-md-3 col-sm-3 col-xs-6 design">
						<div class="content-image-block">
						<a href=".#"><img src="~/images/ADonniesClassic.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>Donnie's Classic Cheesecake'</h3>
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6 web">
						<div class="content-image-block">
						<a href=".#"><img src="~/images/ABourbonBaconCheesecake.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>Bacon Bourbon Caramel Cheesecake</h3>
								
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6 video">
						<div class="content-image-block">
						<a href=".#"><img src="~/images/AOreoCheesecake.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>Oreo Crumble</h3>
								
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6 design">
						<div class="content-image-block">
						<a href=".#"><img src="~/images/AApplePieCheesecake.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>Applie Pie Cheesecake</h3>
								
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6 web">
						<div class="content-image-block">
						<a href=".#"><img src="~/images/AWhiteChocRaspCheesecake.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>White Chocolate Raspberry Cheesecake</h3>
								
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6 video">
						<div class="content-image-block">
						<a href=".#"><img src="~/images/AStrawberrySwirlCheesecake.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>Strawberry Swirl Cheesecake</h3>
								
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6 design">
						<div class="content-image-block">
						<a href=".#"><img src="~/images/APumpkinCheesecake.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>Pumpkin Cheesecake</h3>
								
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6 web">
						<div class="content-image-block">
						<a href=".#"><img src="~/images/ACookiesCreamCheesecakeBar.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>Cookies & Cream Cheesecake Bars</h3>
								
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6 design">
						<div class="content-image-block">
						<a href=".#"><img src="~/images/APecanPieCheesecakeBars.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>Pecan Pie Cheesecake Bars</h3>
								
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6 web">
						<div class="content-image-block">
						<a href=".#"><img src="~/images/ALemonCheesecakeBars.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>Lemon Cheesecake Bars</h3>
								
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6 design">
						<div class="content-image-block">
						<a href=".#"><img src="~/images/ASmoresCheesecakeBars.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>Smores Cheesecake Bars</h3>
								
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6 design">
						<div class="content-image-block">
						<a href=".#"><img src="~/images/AChocolateChipCookieCheesecakeBar.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>Chocolate Chip Cookie Cheesecake Bars</h3>
								
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6 design">
						<div class="content-image-block">
							<a href=".#"><img src="~/images/ARedVelvetBrownies.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>Red Velvet Cheesecake Brownies</h3>
								
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6 design">
						<div class="content-image-block">
							<a href=".#"><img src="~/images/ACinnamonRollCheeseCakeBites.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>Cinnamon Roll Cheesecake Bites</h3>
								
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6 design">
						<div class="content-image-block">
							<a href=".#"><img src="~/images/AChocolateChipCookieDoughBites.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>Chocolate Chipe Cookie Dough Bites</h3>
								
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6 design">
						<div class="content-image-block">
							<a href=".#"><img src="~/images/APeachCobblerCones.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>Peach Cobbler Cheesecake Cone</h3>
								
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6 design">
						<div class="content-image-block">
							<a href=".#"><img src="~/images/AStrawCrunchCheesecakeCone.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>Strawberry Crunch Cheesecake Cone</h3>
								
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6 design">
						<div class="content-image-block">
							<a href=".#"><img src="~/images/ACarrotCakeCrunchCone.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>Carrot Cake Crunch Cone</h3>
								
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6 design">
						<div class="content-image-block">
							<a href=".#"><img src="~/images/APeanutButterCheesecakeCone.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>Peanut Butter Cheesecake Cone</h3>
								
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6 design">
						<div class="content-image-block">
							<a href=".#"><img src="~/images/ACampfireCones.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>Campfire Cone</h3>
								
							</div>
						</div>
					</li>
					<li class="col-md-3 col-sm-3 col-xs-6 design">
						<div class="content-image-block">
							<a href=".#"><img src="~/images/APineappleUpsideDownCones.png" alt="gallery" width="380" height="390"></a>
							<div class="content-block-hover">
								<h3>Pineapple Upside Down Cheesecake Cone</h3>
								
							</div>
						</div>
					</li>
				</ul>
				<nav class="ow-pagination">
					<ul class="pagination">
						<li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></li>
					</ul>
				</nav>

	</main>
	
			
		<!-- Newsletter Box -->
		<div class="subscribe-section container-fluid" id="subscribe-section">
			<!-- Container -->
			<div class="container">				
				<h4 class="subscribe-title col-md-5 col-sm-4 col-xs-12">subscribe to our newsletter</h4>
				<form class="col-md-7 col-sm-8 col-xs-12">
					<div class="col-md-9 col-sm-8 col-xs-8"><input type="text" placeholder="Your Email Here" name="email"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
					<div class="col-md-3 col-sm-4 col-xs-4 no-left-padding"><input type="submit" value="subscribe" class="btn-default" name="subscribe"></div>
				</form>
			</div><!-- Container /- -->
		</div><!-- Newsletter Box /- -->
	</main>
	
	<!----------------------------------------------End Main----------------------------------------------------->
