
@{
    ViewData["Title"] = "Menu";
}



<!-- Menu Section -->
@*<div id="menu-section" class="menu-section container-fluid no-padding">
	<div class="section-padding"></div>
	<div class="container">
		<div class="section-header">
			<h3>Our Menu</h3>
			<h5>CREAMY DISHES</h5>
			<img src="~/images/section-seprator.png" alt="section-seprator" width="169" height="15">
			<p>The day for a three hour tour a three hour tour then one day he was shooting at some food and up through the ground came a oil that is its a beautiful day.</p>
		</div><!-- Section Header /-  -->
	</div><!-- Container /- -->*@
@*
	<div class="col-md-6 col-sm-6 col-xs-6">
		<div class="menu-box">
			<img src="~/images/menu-1.png" alt="menu" />
			<h3>CHOCOLATE FLASH <span>$20.00</span></h3>
			<p>The day he wane day he was shooting at some food and up through the ground.</p>
			<a href="#" title="Order Now">Order Now</a>
		</div>
	</div>

	<div class="col-md-6 col-sm-6 col-xs-6">
		<div class="menu-box">
			<img src="~/images/menu-2.png" alt="menu" />
			<h3>ROSE CREAMY <span>$25.00</span></h3>
			<p>The day he wane day he was shooting at some food and up through the ground.</p>
			<a href="#" title="Order Now">Order Now</a>
		</div>
	</div>

	<div class="col-md-6 col-sm-6 col-xs-6">
		<div class="menu-box">
			<img src="~/images/menu-3.png" alt="menu" />
			<h3>VELVET CAKE <span>$32.00</span></h3>
			<p>The day he wane day he was shooting at some food and up through the ground.</p>
			<a href="#" title="Order Now">Order Now</a>
		</div>
	</div>

	<div class="col-md-6 col-sm-6 col-xs-6">
		<div class="menu-box">
			<img src="~/images/menu-4.png" alt="menu" />
			<h3>FLOWERED CAKE <span>$38.00</span></h3>
			<p>The day he wane day he was shooting at some food and up through the ground.</p>
			<a href="#" title="Order Now">Order Now</a>
		</div>
	</div>

	<div class="col-md-6 col-sm-6 col-xs-6">
		<div class="menu-box">
			<img src="~/images/menu-5.png" alt="menu" />
			<h3>ROSEBERRY CAKE <span>$48.00</span></h3>
			<p>The day he wane day he was shooting at some food and up through the ground.</p>
			<a href="#" title="Order Now">Order Now</a>
		</div>
	</div>

	<div class="col-md-6 col-sm-6 col-xs-6">
		<div class="menu-box">
			<img src="~/images/menu-6.png" alt="menu" />
			<h3>CHOCOLATE BERRY CAKE <span>$54.00</span></h3>
			<p>The day he wane day he was shooting at some food and up through the ground.</p>
			<a href="#" title="Order Now">Order Now</a>
		</div>
	</div>
</div><!-- Menu Section /- -->
<div class="section-padding"></div>*@